@import url(./fonts.css);
body{
	font-family:"Microsoft yahei","微软雅黑","SourceHanSansCN-Regular", Arial, Helvetica, sans-serif,"Source Han Sans CN Regular";
	margin-bottom:0px; 
}
.bx-wrapper img{
	height:440px;
	min-width:1000px;
	max-width:inherit;
	width:auto;
}

.carousel{
	background: url(./img/big-bg-2.png) no-repeat;
	border:0px;
	background-size:cover;
}
.carousel .bx-wrapper{
	background: transparent;
	padding-top:65px;
}

.carousel .bx-viewport{
	border:10px solid #fff;
	border-radius:15px;
}

.carousel{
	height:590px;
	margin-top:-1px;
}

.bx-wrapper .bx-controls-direction a{
	width:30px;
	height:56px;
}
.carousel .bx-wrapper .bx-prev {
    left:20px;
}

.bx-wrapper .bx-prev {
    background: url(img/controll.png) no-repeat 0px 1px;
}
.bx-wrapper .bx-prev:hover,.bx-wrapper .bx-prev:focus{
	background-position: 0px -56px;
}

.carousel .bx-wrapper .bx-next {
    right:0px;
}
.bx-wrapper .bx-next {
    background: url(img/controll.png) no-repeat -30px 0px;
}

.bx-wrapper .bx-next:hover,.bx-wrapper .bx-next:focus{
	background-position: -30px -56px;
}

.bx-wrapper .bx-pager{
	bottom:20px;
}

div.header{
	background: #fff;
	height:70px;
}

.logo-img {
    background: url(./img/logo.png) no-repeat;
    height: 55px;
    width: 435px;
    margin-left: 0px;
}
.left-full{
	margin-top:10px;
}
.right-full{
	margin-top:10px;
	height:50px;
	width:435px;
}
.right-note{
	height:50px;
	/*background: url(./img/search-box-bg.png)no-repeat;*/
	background: none;
	width:435px;
}
textarea,input{outline:none}
.search-box{
	border:0px;
	float:right;
	font-size:16px;
	width:230px;
	margin-left:15px;
	margin-top:14px;
	/* background: #dedede; */
	border:1px solid #dedede;
	height:30px;
	line-height:30px;
	border-radius:5px 0px 0px 5px;
	padding:0px 5px;
}
.search-box:focus{
}
.search-btn{
	float:right;
	height:32px;
	width:80px;
	border:0px;
	/* background: url(./img/search-btn-bg.png)no-repeat; */
	background:none;
	cursor:pointer;
	background: #21498b;
	margin-top:14px;
	border-radius:0px 5px 5px 0px;
	color:#fff;
	font-size:16px;
	line-height:30px;
	outline: none;
	font-weight:100;
}
.search-btn:hover{
	background: #31599b;
}
.search-btn:focus{
	background: #21498b;
}

.menu-bar ul{
	height:60px;
}
.menu-bar li>a{
	height:60px;
	font-size:22px;
	position: relative;
	padding:0px;
	margin:0px 22px;
	font-family:"Microsoft yahei","SourceHanSansCN-Regular";
	line-height:70px;
	letter-spacing: 2px;
}
.menu-bar li>a:hover, .menu-bar li>a.active{
	background: none;
}
.menu-bar {
    background: url(./img/menu-bg.png) repeat-x;
    height: 60px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.menu-bar li>a>i{
	position:absolute;
	bottom:0px;
	left:0px;
	height:3px;
	width:100%;
	background:#fff;
	display: none;
	float:left;
}
.menu-bar li>a:hover>i, .menu-bar li>a.active>i{
	display: block;
}

.module>.module-header{
	display: none;
}
.module-header{
	background: none;	
	/* display: none; */
}
.module-title{
	font-family: "Microsoft yahei","SourceHanSansCN-Regular","微软雅黑", Arial, Helvetica, sans-serif;
	font-size:23px;
	font-weight:500;
	border-bottom:1px solid #333;
	float:none;
	height:35px;
}
.module-title>span{
	border-bottom:1px solid #ff4d4d;
	height:35px;
	display:inline-block;
}
.module-title>.module-header{
	display:inline-block;
	height:35px;
	float:right;
}
.module-title>.module-header>a.more{
	height:35px;
	width:40px;
	line-height:35px;
	font-size:12px;
	text-decoration: none;
}
.module{
	border:0px;
}
/*固定页头*/
body>div.header{
	position: fixed;
	top:0px;
	width:100%;
	z-index: 9;
}
.menu-bar{
	position:fixed;
	width:100%;
	top:70px;
	z-index: 9;
}
.carousel{
	margin-top:130px;
}
.carousel .bx-wrapper .bx-controls-direction a{
	top:280px;
}

/*页脚*/
.footer-line{
	display: none;
}
.footer .footer-content{
	background: #333;
	color:#fff;
	padding:15px 50px;
}
.footer-sn{
	background: #000;
	color:#666;
	text-align:center;
	padding:5px 0px;
	font-family: "Microsoft yahei","SourceHanSansCN-Regular","微软雅黑", Arial, Helvetica, sans-serif;
}
.footer-detail{
	width:900px;
	margin:auto;
	min-height:250px;
}
.footer-column{
	display:inline-block;
	float:left;
	width:193px;
	font-family: "Microsoft yahei","SourceHanSansCN-Regular","微软雅黑", Arial, Helvetica, sans-serif;
	margin-left:10px;
	height:235px;
	position:relative;
	padding-top:30px;
}

.footer-column ul {
	padding-left: 0px;
}
.footer-column ul li{
	list-style-type: none;
	padding:5px 0px;
	color:#fff;
}
.footer-column ul li a{
	color:#fff;
	font-size:14px;
	font-family: "Microsoft yahei","SourceHanSansCN-Regular","微软雅黑", Arial, Helvetica, sans-serif;
}
.footer-column h1{
	font-weight: normal;
	margin:0px;
	font-size:20px;
}

.footer-column h2{
	font-weight: normal;
	font-family: "Microsoft yahei","SourceHanSansCN-Regular","微软雅黑", Arial, Helvetica, sans-serif;
	font-size:16px;
	margin:10px 0px;
	margin-top:0px;
	color:#eee;
	text-align: center;
}

.footer-detail>.footer-column:not(:last-child)>div.di{
	position:absolute;
	width:2px;
	height:175px;
	background: #707070;
	right:25px;
	top:30px;
}

.module-header>a.more{
	/* display: none; */
	background: none;
	margin:0px;
}

.pic-calendar{
	width:450px;
	height:700px;	
}

.pic-calendar>ul{
	margin:0px;
	padding:0px;
	width:420px;
	height:700px;
}
.pic-calendar>ul>li{
	list-style-type: none;
	width:420px;
	height:700px;
	overflow: hidden;
	display: none;
	position: relative;
}
.pic-calendar>ul>li.active{
	display: block;
}
.pic-calendar>ul>li>img{
	position: absolute;
	top:100%;
	min-height:700px;
	min-width:420px;
	cursor:pointer;
}
.pic-calendar>div.cal-bar{
	width:30px;
	height:700px;
	background: #bebebe;
	float:right;
}

.pic-calendar>div.cal-bar>ul{
	padding:0px;
	margin:0px;
	width:30px;
	height:700px;
}
.pic-calendar>div.cal-bar>ul>li{
	list-style-type: none;
	color:#fff;
	text-align:center;
	padding:57px 0px;
	cursor:pointer;
	margin:5px 0px;
}
.pic-calendar>div.cal-bar>ul>li:first-child{
	margin-top:0px;
}
.pic-calendar>div.cal-bar>ul>li:last-child{
	margin-bottom:0px;
}
.pic-calendar>div.cal-bar>ul>li.active{
	background: #c42727;
	color:#fff;
	font-size:20px;
}
.module.blue{
	border:1px solid transparent;
}

.bxslider a{
	text-decoration: none;
}

/*轮播*/
.lunbo{
	background:#eee;
	position: relative;
}
.lunbo>ul.lb-imgs{
	width:100%;
	overflow: hidden;
	padding:0px;
	margin:0px;
}
.lunbo>ul.lb-imgs>li{
	padding:0px;
	margin:0px; 
	list-style-type: none;
	display: none;
}
.lunbo>ul.lb-imgs>li.active{
	display: block;
}
.lunbo>ul.lb-imgs>li img{
	max-width:100%;
	max-height:100%;
	min-width:100%;
	cursor: pointer;
}
.lunbo>ul.lb-remarks{
	position: absolute;
	bottom:0px;
	height:55px;
	background: #3f3f3f;
	color:#fff;
	overflow: hidden;
	margin:0px;
	padding:0px;
	width:100%;
}
.lunbo>ul.lb-remarks>li{
	list-style-type: none;
	padding:0px;
	display: none;
	padding:5px;
	cursor: pointer;
}
.lunbo>ul.lb-remarks>li a{
	color:#fff;
}
.lunbo>ul.lb-remarks>li.active{
	display:block;
}
.lunbo>div.controller {
	position: absolute;
	background: #3f3f3f;
	color:#fff;
	top:45%;
	font-size:24px;
	width:18px;
	height:30px;
	text-align:center;
	line-height:30px;
	cursor:pointer;
}
.lunbo>div.controller:hover{
	background: #4f4f4f;
}
.lunbo>div.prev{
	left:10px;
}
.lunbo>div.next{
	right:10px;
}
.lunbo>div.pointer{
	position: absolute;
	bottom:55px;
	text-align: center;
	width:100%;
}
.lunbo>div.pointer>div{
	display: inline-block;
	margin:0px 5px;
	color:#999;
	cursor:pointer;
}
.lunbo>div.pointer>div:hover,.lunbo>div.pointer>div.active{
	color:#ddd;
}

#image-flow{
	width:100%;
}
.btn-left,.btn-right{
	display:none;
}

.index-dangan-banner{
	width:1245px;
	height:200px;
	background: url(./img/dangan-banner.jpg)no-repeat;
	margin:auto;
	margin-bottom:13px;
	cursor: pointer;
	position: relative;
	text-align:center;
}

.index-dangan-banner .dangan-banner-tip{
	display:none;
	width:100%;
	height:200px;
	margin:auto;
	line-height:200px;	
	text-align:center;
	top:0px;
	left:0px;
	z-index:2;
	position: absolute;
}
.index-dangan-banner .dangan-banner-tip a{
	color:#4c4c4c;
	font-size:108px;
	letter-spacing:4px;
	text-decoration: none;
}
.index-dangan-banner:hover  .dangan-banner-tip{
	padding-top:20px;
}
.index-dangan-banner .dangan-banner-mask{
	position:absolute;
	width:100%;
	height:200px;
	background: #fff;
	top:0px;
	left:0px;
	opacity:.2;
	z-index:1;
	display:none;
}

.index-dangan-banner:hover  .dangan-banner-mask{
	display:block;
	animation: maskon .5s;
	-moz-animation: maskon .5s;	/* Firefox */
	-webkit-animation: maskon .5s;	/* Safari 和 Chrome */
	-o-animation: maskon .5s;
}

@keyframes maskon{
	from {opacity: 0;}
	to {opacity: 0.2;}
}
#image-flow{
	height:125px;
	width:1245px;
}
#image-flow-ul img{
	width:170px;
	height:110px;
	display:inline-block;
}
#image-flow ul{
	height:125px;
	overflow: hidden;
}
#image-flow ul li:nth-child(odd){
	background: #ddd;
}
#image-flow ul li{
	border:1px solid #ddd;
	width:300px;
	height:110px;
	padding:5px 5px;
	margin:0px 8px;
	overflow: hidden;
}
#image-flow-ul a{
	display:inline-block;
}
#image-flow-ul a.remark{
	height:110px;
	width:115px;
	padding:3px;
	float:right;
}
#image-flow-ul a span{
	height:30px;	
	font-size:16px;
	font-weight:bold;
}
#image-flow-ul a p{
	height:30px;	
	padding:0px;
	margin:0px;
	font-size:14px;
}
#image-flow-ul a span,#image-flow-ul a p{
	display:inline-block;
	width:115px;
	float:right;
	text-align:left;
	color:#20467e;
}
#image-flow ul li:hover a>img{
}
.table-module{
	height:160px;
}
.table-column .table-module:last-child{
	margin-top:22px;
}
.table-module h2{
	text-align: left;
}
.table-module-content{
	width:300px;
}
.table-module-content>div{
	display: inline-block;
	width:145px;
	height:100px;
	text-align: left;
}
.table-module-content>div:last-child{
	float:right;
	padding-left:5px;
	width:140px;
}
table.x-table{
	cell
}
.table-column{
	height:325px;
}
.table-column h1{
	margin:0px;
	padding:0px;
	font-size:16px;
	font-weight:normal;
	text-align:left;
	padding:10px 0px 10px 10px;
	background: #707070;
	width:163px;
	overflow:hidden;
	border:1px solid #707070;
	color:#fff;
}
.table-column h1 a{
	color:#fff;
}
.table-column p{
	padding:0px 15px;
	font-size:14px;
}

.table-column.pics img:not(:first-child){
	margin-top:6px;
}
.table-column ul{
	padding:0px;
	margin:0px;
	margin-left:20px;
}
.table-column ul li{
	list-style-type: disc;
}
.table-column ul li:first-child{
	margin-top:0px;
}
.table-module h2{
	margin:0px;
	padding:0px;
	font-size:16px;
	padding-bottom:20px;
	font-weight:bold;
}

.brand-table{
	width:1035px;
	height:200px;
	overflow: hidden;
	position: relative;
}

.img-container{
	height:200px;
	position: absolute;
	top:0px;
	left:0px;
}

.brand-table div.img-wrap{
	border:1px solid #3f3f3f;
	border-radius:15px;
	width:150px;
	height:50px;
	overflow: hidden;
	display: inline-block;
	margin:7px 10px;
}
.brand-table div.img-wrap>img{
	min-width:100%;
	width:150px;
	height:auto;
}

.brand-table-wrap .ctr{
	width:30px;
	height:60px;
	position:absolute;
	top:70px;
	color:#3f3f3f;
	font-size:78px;
	line-height:200px;
	font-weight:normal;
	cursor:pointer;
}
.brand-table-wrap .ctr.prev{
	left:40px;
	background: url(./img/arrow-left.png)no-repeat;
}
.brand-table-wrap .ctr.next{
	right:40px;
	background: url(./img/arrow-right.png)no-repeat;
}


.page-bar a:hover, .page-bar a.active{
	background: none;
	border:1px solid #333;
	color:#333;
}

ul.module-content>li{
	border-bottom:1px solid #333;
	padding-bottom:5px;
}

ul.module-content>li>a,ul.module-content>li>a:hover{
	font-size:16px;
	text-decoration: none;
}

div.img-div{
	margin-left:0px;
	width:285px;
	height:170px;
}

.huiyuan-devider{
	background: none;
	border-bottom:2px solid #3f3f3f;
	    margin: 15px 0px 20px 0px;
}

.page-content{
	font-size:18px;
}

.logo-img.dangan{
	background: url(./img/logo-dangan.png)no-repeat;
	height:55px;
	width:435px;
	display:inline-block;
	float:left;
}
body.dangan div.header{
	height:70px;
}
.dangan .container{
	width:100%;
}
.dangan div.header{
	width:100%;
	border-bottom:4px solid #db9f45;
}
.dangan .left-full{
	margin:10px auto 0px auto;
	float:none;
	min-height:70px;
}
.dangan-menu a{
	font-size:20px;
	padding:0px 10px;
	margin:0px 10px;
	color:#444;
	text-decoration: none;
	letter-spacing: 3px;
	font-weight:200;
}
.dangan-menu a.active,.dangan-menu a:hover{
	color:#db9f45;
}
.dangan-menu{
	display:inline-block;
	float:right;
	margin-top:20px;
}

.dangan-big-banner{
	width:1250px;
	height:600px;
	background: url(./img/dangan-big-banner-mask.png)no-repeat;
	background-position: center top;
	margin:auto;
}
.dangan-big-banner.mask{
	background: url(./img/dangan-big-banner-mask.png)no-repeat center;
    background-position: center top;
    height:auto;
}

.dangan .main-content{
	width:1250px;
	margin:auto;
}

.dangan .container,body.dangan {
	background: url(./img/dangan-bg.png)repeat-y;
	background-position: center;
	background-size:cover;
}

.dangan .module-group.blue{
	background: transparent;
}

.dangan .page-title{
	text-align: left;
	font-size:22px;
	font-weight: 400;
	letter-spacing:2px;
	color:#333;
	border-bottom:1px dashed #4c4c4c;
	padding:5px 0px;
}

.dangan .page-title>small{
	color:#e9a955;
	font-size:16px;
	padding-left:10px;
}

.dangan .module-group.blue{
	border:0px;
}
.dangan .module-group.blue>div{
	margin-top:40px;
}

.dangan .brand-table-wrap .ctr{
	height:60px;
	width:45px;
	top:210px;
}
.dangan .brand-table-wrap .ctr.prev{
	background:url(./img/arrow-left-dangan-detail.png)no-repeat;
/* 	background: url(./img/arrow-left-dangan.png)no-repeat; */
	left:0px;
}
.dangan .brand-table-wrap .ctr.next{
	background:url(./img/arrow-right-dangan-detail.png)no-repeat;
	/* background: url(./img/arrow-right-dangan.png)no-repeat; */
	right:0px;
}

.dangan .brand-table div.img-wrap{
	width:230px;
	height:230px;
	border-radius:0px;
	border:0px;
}

.dangan .brand-table div.img-wrap img{
	width:190px;
	height:190px;
}
.dangan .brand-table{
	height:480px;
}
.dangan .img-container{
	height:480px;
}
.dangan .brand-table{
	width:1040px;
}
.dangan .brand-table div.img-wrap>div{
	position: absolute;
	bottom:0px;
	left:0px;
	font-size:18px;
	text-align:center;
	display:block;
	width:230px;
}
.dangan .brand-table div.img-wrap{
	margin:7px 15px;
}

.dangan.detail .brand-table-wrap .ctr{
	height:60px;
	width:45px;
	top:85px;
}

.dangan.detail .brand-table-wrap .ctr.prev{
	background: url(./img/arrow-left-dangan-detail.png)no-repeat;
	left:0px;
}
.dangan.detail .brand-table-wrap .ctr.next{
	background: url(./img/arrow-right-dangan-detail.png)no-repeat;
	right:0px;
}

.dangan.detail .brand-table{
	height:250px;
}
.dangan.detail .img-container{
	height:250px;
}
.dangan.detail .brand-table div.img-wrap>img{
	min-height:230px;
}
.dangan.detail .brand-table div.img-wrap>div{
	background: #fff;
	text-align:left;
}
.dangan.detail .brand-table div.img-wrap>div>p{
	margin:0px;
	padding:5px;
	display: none;
	text-indent: 0;
}
.dangan.detail .brand-table div.img-wrap:hover>div>p{
	display:block;
}
.dangan.detail .brand-table div.img-wrap>div>h1{
	margin:0px;
	padding:5px;
	font-size:18px;
}
.dangan.detail .detail-footer{
	letter-spacing: 2px;
}

body{
	background:none;
	background-position: center top;
	background-position-y:120px;
}

.container{
	background: #fff;
}

.lunbo * {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Chrome/Safari/Opera */
	-khtml-user-select: none; /* Konqueror */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; 
}


.menu-bar ul{
	width:1250px;
	margin:auto;
}
body>div.header>div{
	width:1250px;
	margin:auto;
}
.module.right.blue .module-header{
	background: none;
}
.module.right.blue .module-header a{
	display:none;
}
.search-btn:hover{
	/* background: url(./img/search-btn-bg-hover.png)no-repeat; */
}

.footer-column li a{
	font-weight:100;
}
.footer-column{
	width:200px;
}
.footer-column:first-child{
	padding-left:100px;
}
.search-page ul li a:hover{
	color: #3f3f3f;
}
.search-page ul li{
	border-bottom: 0px;
}
.search-page ul li:not(:last-child){
	border-bottom:1px solid #e0e0e0;
}
.search-page ul li .imgdiv{
	display: inline-block;
	padding:3px;
	float:left;
}
.search-page ul li .imgdiv img{
	width:125px;
	height:75px;
}
.search-page .search-abstract{
	height:80px;
	padding-left:140px;
	color:#333;
	position: relative;
	margin-top:5px;
}
.search-page .search-abstract.full{
	padding-left:0px;
}
.search-page .search-abstract p{
	margin:0px;
	font-size:16px;
	color:#333;
}
.search-page .sub-abstract{
	position: absolute;
	bottom:0px;
	color:green;
}
.search-page em{
	font-style: normal;
	color:red;
}
.search-page ul.module-content>li>a{
	text-decoration: underline;
	font-size:18px;
	font-weight:100;
	color:blue;
}
.search-page ul.module-content>li{
	list-style-type: none;
}

.search-page ul.module-content>li div>div.search-abstract.full>div.sub-abstract>span{
	color:green;
}

div.chapter-title>h1{
	font-size:28px;
}


/*查询框*/
.input-center{
	background:url(./img/query-input-bg-center.png)repeat-x;
}
.input-right{
	background:url(./img/query-input-bg-right.png)no-repeat;
}
.query-btn{
	background:url(./img/query-btn-bg.png)repeat-x;
}
.query-btn-right{
	background:url(./img/query-btn-bg-right.png)no-repeat;
}
.input-left {
    background: url(./img/query-input-bg-left.png)no-repeat;
}

.xdsoft_dialog_content,.dialog-content,.xdsoft_dialog_buttons{
	 background: url(./img/query-box-bg.png)repeat-y !important;
}
.xdsoft_dialog_overlay, .xdsoft_dialog_overlay *{
	font-size:16px;
}
.xdsoft_dialog_overlay .xdsoft_dialog .xdsoft_dialog_popup_title{
	background: #3f3f3f !important;
}
a[name]{
	margin-top: -100px;
	position: absolute;
}
.module-group:not(:last-child){
	margin-bottom:20px;
	padding-bottom:20px;
}





body.dangan .menu-bar ul{
	width:100%;
}
body.dangan>div.header>div{
	width:1250px;
}

ul.module-content>li{
	list-style-type: disc;
	color:#f00;
}
.table-column ul.module-content>li{
	list-style-type: none;
}
ul.module-content>li a{
	color:black;
}
ul.module-content>li span{
	color:#666;
}

ul.module-content>li{
	margin:20px 0px;
}
.module-group{
}

.table-column.pics a{
	width:145px;
	height:100px;
	display:inline-block;
	float:left;
	border:1px solid #ddd;
}
.table-column.pics a:not(:first-child){
	margin-top:10px;
}
.table-column .table-module-content div>a{
	border:1px solid #ddd;
	width:145px;
	height:100px;
	display:inline-block;
}

.module.blue ul.module-content>li{
	list-style-type: none;
}
.module.full-page ul.module-content>li{
	border-bottom:1px dashed #666;
}

/*临时样式*/
/**/ .module.left.lg{
	display: none;
}
.pic-calendar{
	display: none;
}
.module.left.lg.module-tmp{
	margin:auto;
	float:none;
	width:1000px;
	display: block;
} 

.module.left.lg ul.module-content>li{
	border-bottom:1px dashed #666;
}

.footer{
	width:100%;
}


@media screen and (min-width: 1px) and  (max-width:1250px){
	.carousel,.footer{
		width:1250px;
	}
}


.dialog-mask{
	width:100%;
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	background: rgba(0,0,0,0.3);
	z-index: 555;
}
.dialog-container{
	width:722px;
	min-height:285px;
	border-radius:20px;
	background: #fff;
	box-shadow:2.5px 4.33px 5px 0px rgba(4, 0, 0, 0.25);
	position: fixed;
	top:5%;
	left:0;
	right:0;
	margin:0px auto;
	z-index: 556;
}

.dialog-content{
	margin:10px;
	position: relative;
	background: transparent !important;
	border:1px solid #fff;
}
.dialog-content .close{
	position: absolute;
	top:0px;
	right:0px;
	width:16px;
	height:16px;
	background: URL(./img/close.png);
	cursor:pointer;
}
.dialog-content h1{
	text-align:center;
	font-weight:500;
}

.query-group{
	border:2px solid #015293;
	height:50px;
	margin:10px;
	padding:0px;
	border-radius:14px;
	width:550px;
	margin:0px auto;
}
.query-group .query-input{
	outline: none;
	float:left;
	height:48px;
	line-height:48px;
	border:0px;
	width:350px;
	font-size:18px;
	margin-left:20px;
	letter-spacing: 1px;
}
.query-group .query-btn{
	width:80px;
	height:50px;
	background: #015293;
	border:0px;
	border-radius:0px 10px 10px 0px; 
	float:right;
	outline: none;
	cursor: pointer;
	font-size:16px;
	color:#fff;
}
.query-group .query-btn:hover{
	background: #1162a3;
}
.query-group .query-title-zwm{
	float:left;
	height:50px;
	line-height:50px;
	display:inline-block;
	width:85px;
	text-align:center;
	letter-spacing: 1px;
	font-size:16px;
	border-right:2px solid #015293;
	font-weight:bold;
}

.dialog-content a.button.lg{
	font-size:20px;
	background: #5cb85c;
	border-radius:10px;
	color:#fff;
	text-decoration: none;
	padding:10px;
	border:1px solid #5cb85c;
	margin:5px;
	font-weight:300;
	letter-spacing: 1px;
	display: inline-block;
	width:125px;
}

.header.small{
	height: 30px;	
}

div.project-info{
	background: url(./img/project-info-pic.png) no-repeat;
	width:455px;
	height:305px;
	display:inline-block;
}
.module-category{
	border-top:0px;
	margin-top:5px;
	margin-bottom:20px;
}
.category-content{
	width:100%;
	float:none;
}
.category-content a{
	display:block;
	color:#fff;
	font-weight:300;
	text-align:right;
	margin:10px 0px;
	letter-spacing: 2px;
	padding-right:20px;
}
.category-content a.active, .category-content a:hover{
	color:black;
	background: rgba(221,221,221,.8);
}

.dangan .container{
	background: transparent;
}

.dangan-detail{
	margin:20px 20px;
}
.dangan-detail:first-child,.dangan-detail:nth-child(2){
	margin-top:0px;
}

.dangan-detail:hover {
    -webkit-box-shadow:0 0px 19px 5px rgba(255, 255, 255, 1);
    box-shadow: 0 0px 19px 5px rgba(255, 255, 255, 1);
}
.dangan-devider{
	display: none;
}
.query-pic{
	max-width:200px;
	max-height:265px;
	height:auto;
}
