* {
font-family: "Microsoft YaHei";
}
a{
	text-decoration: none;
	color:black;
}
a:hover{
	text-decoration: underline;
	color:blue;
} 

body{
	margin:0px;
	margin-bottom:5px;
	padding:0px;
	background:url(./img/bg.png) repeat-x;
	font-size:14px;
}
p{
	font-size:14px;
}

div{
	border:1px dashed #green;
}

header{
	height:100px;
}
.right-full{
	float:right;
	width:333px;
	margin-top:17px;
}
.left-full{
	float:left;
	width:556px;
	margin-top:26px;
}
.logo-img{
	background:url(./img/logo-2.png) no-repeat;
	height:41px;
	width:556px;
}

.right-note{
	background:url(./img/right-note-2.png) no-repeat;
	height:57px;
	width:263px;
}

.menu-bar{
	background:url(./img/menu-bg.png) repeat-x;
	height:48px;
	-webkit-box-shadow: 0 5px 12px rgba(0,0,0,0.75);
    box-shadow: 0 5px 12px rgba(0,0,0,0.75);
}

.menu-bar ul{
	margin:0px;
	margin-left:73px;
	padding:0px;
	display:block-inline;
	height:48px;
}
.menu-bar li{
	list-style-type: none;
	display:inline-block;
}
.menu-bar li>a{
	display:inline-block;
	color:white;
	text-decoration: none;
	font-size:16px;
	font-family:"Microsoft yahei";
	margin:0px 15px;
	padding:0px 15px;
	height:48px;
	line-height:48px;
	vertical-align: middle;
}
.menu-bar li>a:hover,.menu-bar li>a.active{
	background: #0075c2;
}

.carousel{
	height:400px;
	margin-top:15px;
}

.main-content{
	margin-top:32px;
}

.module-group{
	min-height:300px;
	margin-top:32px;
}
.module{
	width:540px;
	border:1px solid #bdbfc0;
	margin-bottom:15px;
}
.module.blue{
	border:1px solid #3599dc;
}
.module.left{
	float:left;
}

.module.right{
	float:right;
}
.module.full-page{
	width:1110px;
}

.module.left.lg{
	width:770px;
	min-height:320px;
}

.module.right.blue{
	width:310px;
}

.module-header{
	background: url(./img/module-bg.png) repeat-x;
	height:20px;
}
.module.blue .module-header{
	background: url(./img/module-bg-blue.png) repeat-x;
}

.module-header>a.more{
    display: inline-block;
    width: 53px;
    height: 14px;
    background: url(./img/more.png) no-repeat;
    float: right;
    margin: 2px 10px 0px 0px;
}
.module.blue .module-header>a.more{
	background: url(./img/more-white.png) no-repeat;
}

.module-title{
	float:left;
	margin-top:-7px;
	margin-left:5px;
}
.module.blue .module-title{
	margin-top:-9px;
}
.module-title>img{
	height:32px;
	width:auto;
}
ul.module-content{
	padding:1px 25px;
	border:0px solid red;
}
ul.module-content>li{
	list-style-type: square;
	color:#9fa0a0;
	font-family:'Microsoft yahei';
	margin:15px 0px 15px 20px;
}
ul.module-content>li>a{
	color:black;
	text-decoration: none;
}
ul.module-content>li>a:hover{
	text-decoration: underline;
}
ul.module-content.bordered>li{
	padding-bottom:10px;
	margin:5px 5px 10px 20px;
	border-bottom:1px dashed #ccc;
}
.module>div.module-content{
	padding:20px;
}
.module-content>a{
	margin:10px 5px;
	display:inline-block;
	color:black;
	text-decoration: none;
}
.module-content>a:hover{
	text-decoration: underline;
}

ul.module-content.bordered>li .publish-date{
	float:right;
}

.ad-group{
	height:134px;
	margin-bottom:45px;
}

.ad{
	width:547px;
	height:134px;
	border:1px dashed #efefef;
	overflow: hidden;
}
.ad.left{
	float:left;
}

.ad.right{
	float:right;
}

.footer{
	margin-top:35px;
	font-size:14px;
	clear:both;
}
.footer .footer-line{
	height:10px;
	background: url(./img/footer-bg.png) repeat-x;
}
.footer .footer-content{
	padding:25px 50px;
	background: #f4f4f4;
	color:#595757;
}

.page-bar{
	text-align:center;
	margin-bottom:15px;
}
.page-bar a{
	padding:5px 10px;
	border:1px solid #ddd;
	border-radius:3px;
	text-decoration: none;
	color:black;
	display:inline-block;
}
.page-bar a:hover,.page-bar a.active{
	background: #1e6697;
	color:#fff;
}
.page-bar a.no-hover:hover{
	background: transparent;
}

td>.detail-item{
	background: url(./img/about-item-bg.png) no-repeat;
	height:42px;
	width:233px;
	line-height:42px;
	color:#fff;
	padding:0px 5px;
	font-size:1.5em;
}
p.header{
	color:#1e6697;
	font-weight:bold;
	font-size:16px;
}

div.devider{
	margin:20px 0px;
	border-bottom:1px dotted #555;
}
ul.module-content>li.devider{
	border-bottom:1px dotted #555;
	list-style-type: none;
	margin-left:-15px;
}


@media  (min-width:1px) and (max-width:1400px) {
	.container{
		width:1110px;
		margin:auto;
	}
}

@media  (min-width:1400px) {
	.container{
		width:1110px;
		margin:auto;
	}
}

div.img-div{
	border: 1px solid #ddd;
	padding: 5px;
	display: inline-block;
	width: 240px;
	height: 140px;
	text-align: center;
	vertical-align: middle;
	
	-webkit-box-shadow: 0 0px 12px rgba(0,0,0,0.15);
    box-shadow: 0 0px 12px rgba(0,0,0,0.15);
}

.page-content{
	display:inline-block;
	width:770px;
	min-height:150px;
	float:right;
	padding:10px 10px 0px 20px;
}

.page-content h2{
	margin-top:20px;
	font-size:18px;
	font-weight:bold;
}
.page-content .content-detail{
	padding:10px 0px;
	color:#555;
	line-height:1.5em;
}

.module-group.blue{
	border:5px solid #3867b6;
	background:#fff;
}

.module-category{
	margin-top:25px;
	border-top:2px solid #3867b6;
}

.category-title{
	margin-left:-10px;
	margin-top:-3px;
	background: url(./img/category.png) no-repeat;
	width:180px;
	height:32px;
	display:inline-block;
}
.category-content{
	display:inline-block;
	width:850px;
	height:32px;
	float:right;
}

.category-content a{
	font-size:18px;
	line-height:32px;
	color:#1a84f1;
	font-weight:bold;
	text-decoration: none;
	padding:0px 10px;
	margin:0px 10px;
}
.category-content a.active,.category-content a:hover{
	color:#244b72;
}
.dangan-content{
	padding:20px 90px;
}
.dangan-detail{
	width:266px;
	height:218px;
	display:inline-block;
	margin:10px;
	padding:5px;
}
.dangan-detail:hover{
	-webkit-box-shadow: 0 0px 12px rgba(0,0,0,0.25);
    box-shadow: 0 0px 12px rgba(0,0,0,0.25);
}
.dangan-pic>a>img{
	width:266px;
	height:158px;
}
.dangan-abstract{
	margin-top:5px;
	color:#555;
	line-height:1.5em;
	font-size:14px;
	height:50px;
	overflow: hidden;
}
.dangan-abstract>a{
	color:#555;
	line-height:1.5em;
	font-size:14px;
}
.dangan-detail:hover .dangan-abstract>a{
	color:black;
}

.img-holder img{
	width:200px;
	height:150px;
}